#certificados {
    color: #777777;
    height: 100vh;
    padding: 20rem;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
}

#certificados .certificate-card {
    padding: 16px 0;
    border-top: 2px solid #777777;
    position: relative;
}

#certificados .certificados_tabela span{
    color: #df2424df;
}

#tecnico{
    width: 30%;
    color: #777777;
}

#tecnico span{
    color: white;
}

@media screen and (max-width: 1596px){
    #certificados{
        justify-content: left;
        padding: 20px;
        flex-direction: row;
        text-align: left;
        margin-top: 10vh;
    }

    #certificados .certificate-card{
        border-top: none;
    }

    #tecnico{
        text-align: right;
        width: 50%;
        display: block;
        margin-top: 100px;
    }

    .title_certificados{
        visibility: hidden;
    }

}